@import "tailwindcss";

@theme {
  --color-dark:     #1c2b1e;
  --color-green:    #2d4a2f;
  --color-green-md: #4a7c4e;
  --color-brown:    #3b2314;
  --color-brown-md: #6b3d1e;
  --color-cream:    #c8a882;
}